quarkus:
  http:
    port: 8081
    cors:
      enabled: true
      methods: "GET, POST, PUT, DELETE, OPTIONS"
      headers: Authorization, Content-Type
      access-control-allow-credentials: true
    proxy:
      proxy-address-forwarding: true
  s3:
    devservices:
      enabled: false
    aws:
      region: ${AWS_REGION:eu-north-1}
      credentials:
        type: static
        static-provider:
          access-key-id: ${AWS_ACCESS_KEY_ID}
          secret-access-key: ${AWS_SECRET_ACCESS_KEY}
security:
  api-token: ${STORAGE_API_TOKEN}